@{
    ViewData["Title"] = "Welcome Page";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>IST 465 Dry Cleaner App</title>
    </head>
    <body>

        <div>
            <img src="~/Images/dryclean.jpg"
                 asp-append-version="true" />
        </div>
    </body>
    </html>